.black {
    width: 100px;
    height: 100px;
    background-color: rgb(50, 50, 50);
    color: blanchedalmond;
    font-weight: 800;
}

.white {
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    color: rgb(50, 50, 50);
    font-weight: 800;
}

.frame {
    border: solid 10px black;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
}

.king {
    font-size: 80px;
    background-color: aqua;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chessboardComponents {
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rows {
    display: flex;
    flex-wrap: wrap;
}

#a1 {
    background-color: lightblue;
    color: rgb(50, 50, 50);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blank {
    width: 20px;
    height: 20px;
    background-color: bisque;
}

.chessboardAndLetters {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.main {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #b1, #c1, #d1, #e1, #f1, #g1, #h1 {
    display: flex;
    flex-direction: row-reverse;
}

.square .a {
    padding-top: 75px;
    padding-left: 30px;
}

.square .b, .c, .d, .e, .f, .g, .h {
    padding-top: 75px;
    padding-left: 40px;
}

.square .two, .three, .four, .five, .six, .seven, .eight {
    padding-bottom: 75px;
    padding-right: 40px;
}

#a1 .one {
    padding-right:40px;
    padding-bottom:75px;
}

.square .blankA {
    padding-left: 40px;
}

.blankOne {
    width: 40px;
}